.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}

.task-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}